.header-light-color {
    background-color: #5680e9;
    text-align: center;
    margin-top: -50px;
    margin-left: -10px;
    margin-right: -10px;
}

.navigation {
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    background-color: #84ceeb;
    float: none;
    line-height: 33px;
}

.navigation a {
    color: black;
    text-decoration: none;
    padding: 14px 12px;
    font-weight: bold;
}

.navigation a:visited {
    text-decoration: none;
}

.navigation a:hover {
    background-color: #2ea8d9; 
}

.navigation a:active {
    color: grey; 
}


.navigation .active {
    background-color: #2ea8d9;
}

body {
    background-color: #badff1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: left;
}

.main-content > h2 {
    text-align: center;
}
 
.perilhpsh {
    border: 4px solid #6ab1d4;
    box-shadow: 0px 2px 16px #6ab1d4;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.perilhpsh > p {
    padding-left: 20px;
    padding-right: 20px;
}

.synexeia-perilhpshs {
    border: 4px solid #6ab1d4;
    box-shadow: 0px 2px 16px #6ab1d4;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-content {
    background-color: #5680e9;  
    text-align: center;
    margin-top: 50px;
    margin-bottom: -10px;
    margin-left: -10px;
    margin-right: -10px;
    box-shadow: 0px -5px 16px #6ab1d4;
    border-bottom: 15px solid black;
}

.footer-content > h4:first-child{
    font-size: 20px;
    padding-top: 5px;
}

.footer-content > a > img {
    filter: grayscale(100%);
    border-radius: 25px;
}

.footer-content > a > img:hover{
    filter: grayscale(0%);
}
