
/* !!!!!!!!!!!! HEADER !!!!!!!!!!!!! */

.header-light-color {
    background-color: #5680e9;
    text-align: center;                 /* εχουμε βαλει χρωμα για background και μερικα margin ωστε να πηγαινει η φωτο στο κεντρο */
    margin-top: -50px;
    margin-left: -10px;
    margin-right: -10px;
}

.navigation {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    padding: 8px;
    background-color: #84ceeb;          /* display block και padding ωστε να ειναι το καθε κουμπι ενα τετραγωνακι , line height για να ειναι λιγο πιο ψηλα και βαλαμε και Helvetica ως font */
    float: none;
    line-height: 33px;
}

.navigation a {
    color: black;
    font-size: 18px;                       /* αλλαγη στο χρωμα του font και βγαλαμε το underline απο τα link ωστε να φαινεται πιο ωραιο ,  τα καναμε bold */
    text-decoration: none;
    padding: 14px 12px;
    font-weight: bold;
}

.navigation a:visited {
    text-decoration: none;              /* να μην αλλαζει το χρωμα αν τα εχουμε ηδη πατησει / επισκευθει */
}

.navigation a:hover {
    background-color: #2ea8d9;       /* χρωμα του καθε "κουμπιου" απο το μενου οταν κανεις hover με το ποντικι */
}

.navigation a:active {                  /* χρωμα που παιρνει το font οταν πατας το συγκεκριμενο link */
    color: grey;
}


.navigation .active {                   /* χρωμα που παινρει το καθε κουμπι οταν ειναι ενεργο , δηλαδη εισαι στην συγκεκριμενη σελιδα */
    background-color: #2ea8d9;
}

/* !!!!!!!!!!! ΤΕΛΟΣ HEADER !!!!!!!!!!!! */



/* !!!!!!!!!!!!!!!! INDEX !!!!!!!!!!!!!!! */

body {
    background-color: #badff1;                /* χρωμα για background του main περιεχομενου , font για το περιεχομενο επισης και overflow ωστε να μην υπαρχει η οριζοντια μπαρα scroll */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
}


.welcome {
    text-align: center;         /* κειμενο κεντραρισμενο */
}

.main-content> p {
    font-weight: bold;          /* bold font και αλλαξαμε το font size να ειναι λιγο μικροτερο */
    text-align: center;
    font-size: 16px;
}

.section-promote {
    text-align: center;
    border: 2px solid #6ab1d4;              /* βαλαμε border γυρω απο το section αυτο , μαζι με σκια γυρω γυρω και παιξαμε με τα margin για να φαινεται ωραιο μικρο και κεντραρισμενο */
    box-shadow: 0px 2px 16px #6ab1d4;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 150px;
    margin-right: 150px;
}

.product > a > img {
    border: 2px solid #2ea8d9;              /* border και background για τις εικονες , radius για να γινουν πιο rounded τα edges */
    background-color: #6ab1d4;
    border-radius: 25px;
}

.product {
    display: inline;                /* inline για να ειναι στην σειρα τα προϊοντα */
}

.product > a {

    text-decoration: none;          /* για να μην φαινονται τα λινκ underline */ 
}

/* !!!!!!!!!!!!!!!!!!!!! ΤΕΛΟΣ INDEX !!!!!!!!!!!!!!!!!!! */



/* !!!!!!!!!!!!!!!!!!!! PRODUCT-CATEGORIES !!!!!!!!!!!!!!!!!! */

.subcategory {
    border: 2px solid #6ab1d4;           
    box-shadow: 0px 2px 16px #6ab1d4;    /* βαλαμε border γυρω απο το section αυτο , μαζι με σκια γυρω γυρω και παιξαμε με τα margin για να φαινεται ωραιο μικρο και κεντραρισμενο */
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 270px;
    margin-right: 270px;
}

.category-card {
    display: inline-block;              /* inline-block για να ειναι στην σειρα τα προϊοντα */
}


.category-name {
    word-break: break-all;              /* για να σπανε οι λεξεις και να πηγαινουν απο κατω αμα δεν χωρανε */
}


a {
    text-decoration: none;              /* κανενα underline για λινκ και χρωμα μαυρο */
    color: black;
}

a:visited {
    text-decoration: none;      /* οτι εχουμε πει παραπανω */
}

a:active {
    color: grey;               /* ομοιως */
}


.popular-products {
    border: 2px solid #6ab1d4;                  /* βαλαμε border γυρω απο το section αυτο , μαζι με σκια γυρω γυρω και παιξαμε με τα margin για να φαινεται ωραιο μικρο και κεντραρισμενο */
    box-shadow: 0px 2px 16px #6ab1d4;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 270px;
    margin-right: 270px;
}

.product-card {
    display: inline-block;       /* inline για να ειναι στην σειρα τα προϊοντα */
}



/* !!!!!!!!!!!!!!! ΤΕΛΟΣ PRODUCT-CATEGORIES !!!!!!!!!!!!!!!!!!! */



/* !!!!!!!!!!!!!!!!!! PRODUCTS-PCS !!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!! PRODUCT-PHONES !!!!!!!!!!!!!!!!! */

.products {

    font-family: Arial, Helvetica, sans-serif;    /* ενιαιο font */
}

.products .product-card {
    display: block;
    box-shadow: 0 15px 30px 1px grey;           /* σκια γυρω γυρω και margin ωστε να φαινεται ωραιο */
    background: rgba(255, 255, 255, 0.90);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin: 5em auto;
    height: 350px;
    width: 700px;
}

.product-details {
    position: relative;         /* το αριστερο μισο του καθε product-card, ονομα προϊοντος και φτιαξιμο οπτικα με margin / float */
    text-align: left;
    overflow: hidden;
    padding: 30px;
    height: 100%;
    float: left;
    width: 40%;
}

.product-details h1 {

    display: inline-block;              /* αλλαγη χρωματος font κλπ ωστε να φαινεται μεσα στο product-card το h1 ωραιο */
    position: relative;
    font-size: 30px;
    color: #344055;
    margin: 0;
}



.product-details > p {
    font-family: 'EB Garamond', serif;  /* αλλαγη γραμματοσειρας, μεγεθους και χρωματος για ελληνικα */
    text-align: center;
    font-size: 18px;
    color: #7d7d7d;
    
}



.control {
    position: absolute;             /* control και button ειναι για το κουμπι καλαθι αγορας με την τιμη πανω */
    bottom: 20%;
    left: 22.8%;
    
}

.button {
    transform: translateY(0px);
    transition: 0.3s linear;
    background: #809fff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    border: none;
    color: #eee;
    padding-top: 0px;
    margin-left: 35px;
}

.button:hover {
    transform: translateY(-6px);
    background: #1a66ff;
}

.button span {
    font-family: 'Farsan', cursive;
    transition: transform 0.3s;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 0;
}

.button .price,
.shopping-cart {
    background: #333;
    border: 0;
    margin: 0;
}

.button .price {
    transform: translateX(-10%);
    padding-right: 15px;
}

.button .shopping-cart {
    transform: translateX(-100%);
    position: absolute;
    background: #333;
    z-index: 1;
    left: 0;
    top: 0;
}

.button .buy {
    z-index: 3;
    font-weight: bolder;
}

.button:hover .price {
    transform: translateX(-110%);
}

.button:hover .shopping-cart {
    transform: translateX(0%);
}

.product-image {
    transition: all 0.3s ease-out;
    position: relative;
    overflow: hidden;
    height: 100%;
    float: right;
    width: 45%;
   
}

.product-image .image {
    width: 100%;
    height: 100%;
}


.info {
    background: rgba(27, 26, 26, 0.9);
    font-family: 'Bree Serif', serif;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.8;
    text-align: left;
    font-size: 105%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.info h2 {
    text-align: center
}

.product-image:hover .info {
    transform: translateX(0);
}

.info ul li {
    transition: 0.3s ease;
}

.info ul li:hover {
    transform: translateX(50px) scale(1.3);
}

.product-image:hover img {
    transition: all 0.3s ease-out;
}

.product-image:hover img {
    transform: scale(1.2, 1.2);
}


/* !!!!!!!!!!!!! ΤΕΛΟΣ PRODUCT-PCS !!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!! ΤΕΛΟΣ PRODUCT-PHONES !!!!!!!!!!!!!! */



/* !!!!!!!!!!!!!!! PRODUCT-IPHONE14 !!!!!!!!!!!!!!!! */

#category > a {                    
    color: black;
    text-decoration: none;
}

#iphone-name, #category {
    text-align: left;
}

#iphone-name {

    padding-top: 30px;
}
#iphone-code {
    font-size: 15px;
    margin-bottom: -47px;
    margin-right: 1153px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-top: 5px;
    border: 5px hidden #2ea8d9;
    background-color: #6ab1d4;
    border-radius: 25px;
    border-top-style: solid;
    text-align: center;
}



.display-photo {
    float: left;
    border: 3px hidden #2ea8d9;
    background-color: #6ab1d4;
    border-radius: 25px;
}

#iphone {
    text-align: center;
    border: 5px hidden #2ea8d9;
    background-color: #6ab1d4;
    border-radius: 25px;
    border-bottom-style: solid;
    padding-top: 20px;
    margin-right: 1153px;
    margin-top: -230px;
    margin-bottom: 200px;
    font-size: 25px;
    font-weight: bold;
}

.product-descr {
    text-align: left;
    border: 3px solid #6ab1d4;
    box-shadow: 0px 2px 16px #6ab1d4;
    margin-top: -100px;
    margin-bottom: 30px;
    margin-left: 370px;
    margin-right: 30px;
    padding-left: 10px;
}

.outer-box {
    margin-top: -15px;
}

.manifacturer {
    text-decoration: underline;
}

.perigrafh>h3 {
    text-decoration: underline;
}

.xarakthristika>h3 {
    text-decoration: underline;
}


.comparison {
    display: block;
    margin: 0 auto;
    border: 4px solid #6ab1d4;
    box-shadow: 0px 0px 10px 5px #6ab1d4;
    margin-bottom: 30px;
}


.analytika-xarakthristika {
    display: block;
    border: 4px solid #6ab1d4;
    box-shadow: 0px 2px 16px #6ab1d4;
    margin-left: 130px;
    margin-right: 130px;
}

.row-title {
    text-align: center;
    text-decoration: underline;
    font-size: 22px;
    border-bottom: 4px solid #6ab1d4;
}

.row {
    border-bottom: 2px solid #6ab1d4;
    padding-top: 20px;
}

.label {
    text-align: left;
    font-weight: bold;
    padding-left: 100px;
}

.value {
    text-align: right;
    padding-right: 110px;
    margin-top: -20px;
    padding-bottom: 20px;
}

.value>a {
    color: black;
    text-decoration: none;
}

.value>a:hover {
    text-decoration: underline;
}

.value>a:visited {
    text-decoration: none;
}

.value>a:active {
    color: gray;
}

.forma {
    padding-top: 50px;
}


.forma>h3 {
    text-align: center;
}

input,
label {
    cursor: pointer;            /* pointer that indicates to a link */
}

input[type="radio"] {
    height: 20px;
    width: 20px;
}

label {
    margin-right: 15px;
}

.epilogh {
    appearance: none;
    border: 4px solid #fff;
    background-color: #ccc;
    border-radius: 50%;
    outline: 1px solid #ccc;
}

.epilogh:hover {
    outline-color: gray;
}

.epilogh:checked {
    outline-color: #5680e9;
    background-color: #5680e9;
    animation: outline-checked;
    animation-duration: 0.1s;
    animation-iteration-count: 4;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes outline-checked {
    0% {
        outline-offset: 0;
    }

    100% {
        outline-offset: -0.2rem;
    }
}

#sxolia-title {
    display: block;
    margin-top: 15px;
}

.vathmologia-asteria textarea {
    display: block;
    width: 595px;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    margin-top: 10px;
    margin-left: 450px;
}

input[type=submit] {
    width: 650px;
    background-color: #2ea8d9;
    color: white;
    padding: 12px 20px;
    margin-left: -10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #119cd4;
}


/* !!!!!!!!!!!!!!! ΤΕΛΟΣ PRODUCT-IPHONE14 !!!!!!!!!!!!!!! */



/* !!!!!!!!!!!!!!!!!! STORES !!!!!!!!!!!!!!!!!!!! */

.katasthma {
    border: 3px solid #6ab1d4;
    box-shadow: 0px 2px 16px #6ab1d4;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 350px;
    margin-right: 350px;
    overflow: auto;
}

.katasthma>h3 {
    text-decoration: underline;
    padding-left: 15px;
    margin-top: -1px;
    text-align: left;
}

.katasthma>p {
    font-weight: bold;
    padding-left: 50px;
    padding-top: 70px;
}

.katasthma>p>img {
    float: right;
    margin-top: -120px;
}


/* !!!!!!!!!!!!!!!!!!! ΤΕΛΟΣ STORES !!!!!!!!!!!!!!!!! */



/* !!!!!!!!!!!!!!!!!!!! CONTACT !!!!!!!!!!!!!!!!!!!! */

#forma-titlos {

    text-decoration: underline;
    margin-bottom: -30px;
}


input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=tel],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=file],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

.forma-input input[type=submit] {
    width: 100%;
    background-color: #2ea8d9;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.forma-input input[type=submit]:hover {
    background-color: #119cd4;
}

.forma-yposthrikshs {
    padding: 40px;
    width: 50%;
    text-align: left;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.forma-input textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.forma {
    display: block;
    text-align: center;
}




/* !!!!!!!!!!!!!!!!!!! ΤΕΛΟΣ CONTACT !!!!!!!!!!!!!!!!!!! */



/* !!!!!!!!!!!!!!!!!  ABOUT US !!!!!!!!!!!!!!!!!!!! */


.perilhpsh {
    border: 4px solid #6ab1d4;
    box-shadow: 0px 2px 16px #6ab1d4;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

.perilhpsh > p {
    padding-left: 20px;
    padding-right: 20px;
}

#synexeia-perilhpshs {
    text-align: left;
    border: 4px solid #6ab1d4;
    box-shadow: 0px 2px 16px #6ab1d4;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
   

}


/* !!!!!!!!!!!!!!!!!! ΤΕΛΟΣ ABOUT US !!!!!!!!!!!!!!!! */




/* !!!!!!!! FOOTER !!!!!!!!!! */


.footer-content {
    background-color: #5680e9;      
    text-align: center;
    margin-top: 50px;
    margin-bottom: -10px;
    margin-left: -10px;
    margin-right: -10px;
    box-shadow: 0px -5px 16px #6ab1d4;
    border-bottom: 15px solid black;
}

.footer-content>h4:first-child {
    font-size: 20px;
    padding-top: 5px;
}

.footer-content > a {

    text-decoration: none;
}

.footer-content>a>img {
    filter: grayscale(100%);
    border-radius: 25px;
}

.footer-content>a>img:hover {
    filter: grayscale(0%);
}

/* !!!!!!!!!!!!! TΕΛΟΣ FOOTER !!!!!!!!!!!! */