.header-light-color {
    background-color: #5680e9;
    text-align: center;
    margin-top: -50px;
    margin-left: -10px;
    margin-right: -10px;
}

.navigation {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    padding: 8px;
    background-color: #84ceeb;
    float: none;
    line-height: 33px;
    position: sticky;
    top: 0;
    width: 100%;
}

.navigation a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 14px 16px;
    font-weight: bold;
}

.navigation a:visited {
    text-decoration: none;
}

.navigation a:hover {
    background-color: #2ea8d9;
}

.navigation a:active {
    color: grey;
}

.navigation .active {
    background-color: #2ea8d9;
}