.header-light-color {
    background-color: #5680e9;
    text-align: center;
    margin-top: -50px;
    margin-left: -10px;
    margin-right: -10px;

}

.navigation {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    padding: 8px;
    background-color: #84ceeb;
    float: none;
    line-height: 33px;
}

.navigation a {
    color: black;
    font-size: 18px;
    text-decoration: none;
    padding: 14px 12px;
    font-weight: bold;
}

.navigation a:visited {
    text-decoration: none;
}

.navigation a:hover {
    background-color: #2ea8d9;
}

.navigation a:active {
    color: grey;
}

.navigation .active {
    background-color: #2ea8d9;
}

body {
    background-color: #badff1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.main-content>h2 {
    font-weight: bold;
    text-align: center;
}

.katasthma {
    border: 3px solid #6ab1d4;
    box-shadow: 0px 2px 16px #6ab1d4;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 350px;
    margin-right: 350px;
    overflow: auto;
}

.katasthma>h3 {
    text-decoration: underline;
    padding-left: 15px;
    margin-top: -1px;
}

.katasthma>p {
    font-weight: bold;
    padding-left: 50px;
    padding-top: 70px;
}

.katasthma>p>img {
    float: right;
    margin-top: -120px;
}

.footer-content {
    background-color: #5680e9;
    text-align: center;
    margin-top: 50px;
    margin-bottom: -10px;
    margin-left: -10px;
    margin-right: -10px;
    box-shadow: 0px -5px 16px #6ab1d4;
    border-bottom: 15px solid black;
}

.footer-content>h4:first-child {
    font-size: 20px;
    padding-top: 5px;
}

.footer-content>a>img {
    filter: grayscale(100%);
    border-radius: 25px;
}

.footer-content>a>img:hover {
    filter: grayscale(0%);
}